<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwimPRO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style= "background-color: black; color: whitesmoke">
    <header>


            <nav class="navbar navbar-expand-sm navbar-light main-nav" style="background-color: #000;">
                <div class="container">
                    <a class="navbar-brand text-white" href="{{url_for('main.index')}}">SwimPRO</a>
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('students.studentslist', group_id=0)}}">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('trainings.trainingslist', group_id=0)}}">Trainings</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Log Out</a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('auth.login')}}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{url_for('auth.signup')}}">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>

            </nav>

        
    </header>
    <main class="d-flex" style="color: black;">
        {% if current_user.is_authenticated %}
        <div class="sidebar left ">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Groups
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ><u><a href="{{route}}/0"style="color: black;">All</a></u></li>
                    {% for group in grouplist %}
                  <li class="list-group-item"><u><a href="{{route}}/{{group.id}}"style="color: black;">{{group.text}}</a></u></li>
                  {% endfor %}

                </ul>
              </div>
          </div>
          {% endif %}

            {% block content %}
            {% endblock %}
        
        
    </main>







    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>