{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between p-2">
    <h1 style = "font-family:'Abril Fatface', cursive; margin-top: 5%; margin-left: 10%; padding: 20px">New card</h1>
    <a href="/mycards"><button type="button" class="btn btn-primary">Back</button></a>    
</div>
<body style= "background-color: #F5DEB3;"></body>
<form class="w-50 m-auto" method="POST" action="addcard" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" maxlength="40" name="name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Second name</label>
        <input type="text" class="form-control" maxlength="40" name="sec_name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Contact number</label>
        <input type="text" class="form-control" maxlength="40" name="contact_number">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="text" class="form-control" maxlength="40" name="mail">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Social media</label>
        <input type="text" class="form-control" maxlength="40"  name="social_media">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Adress</label>
        <input type="text" class="form-control" maxlength="40" name="adress">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="date" class="form-control" maxlength="40" name="birthDate">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="image">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>

      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% endblock %}