{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between p-2">

    <h1>Anket</h1>
    <a href="/mycards"><button type="button" class="btn btn-primary">Back</button></a>

    
</div>
<div class="card w-100 m-auto mt-5" style="width: 100%;">
    
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <p class="card-text">{{card.name}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 class="card-title">Second Name</h5>
        <p class="card-text">{{card.sec_name}}</p>
      </li>
      <li class="list-group-item">
        <h5 class="card-title">Birthday</h5>
        <p class="card-text">{{card.birthDate}}</p>
      </li>
      <li class="list-group-item">
        <h5 class="card-title">Contact number</h5>
        <p class="card-text">{{card.contact_number}}</p>
      </li>
      <li class="list-group-item">
        <h5 class="card-title">E-mail</h5>
        <p class="card-text">{{card.mail}}</p>
      </li>
      <li class="list-group-item">
        <h5 class="card-title">Social media</h5>
        <p class="card-text">{{card.social_media}}</p>
      </li>
      <li class="list-group-item">
        <h5 class="card-title">Adress</h5>
        <p class="card-text">{{card.adress}}</p>
      </li>
    </ul>

    <div class="card-body">
        <a href="/changecard/{{id}}/{{card.id}}"><button type="button" class="btn btn-success">Сhange Data</button></a>
        <a href="/deletecard/{{id}}/{{card.id}}"><button type="button" class="btn btn-danger ml-1">Delete Card</button></a>
    </div>
  </div>
{% endblock %}