{% extends "base.html" %}
{% block content %}
<div class="main-side">
<div class="container ml-5">
  <h1 class="m-5">All Students</h1>
  <a href="/newstudent"><button type="button" class="btn btn-primary">Add</button></a>
  {% for student in students %}
  <div class="card w-150 mb-3">
    <div class="card-body">
      <a href="/viewstudent/{{student.id}}" class="text-decoration-none text-body"><h5 class="card-title">{{student.surname}} {{student.name}}</h5></a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}











