{% extends "base.html" %}
{% block content %}
<div class="main-side">

  
  <div class="d-flex justify-content-between p-2 m-auto">
    <h1 class="m-5">All Trainings</h1>

        <a href="/newtraining"><button type="button" class="btn btn-primary">Add</button></a>    

  </div>
  {% for training in trainings %}
  <div class="card w-150 mb-3">
    <div class="card-body">
      <a href="/viewtraining/{{training.id}}" class="text-decoration-none text-body"><h5 class="card-title">{{training.date}}</h5></a>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}











